ul {
    list-style-type : none;
    font-family: Verdana, 'Times New Roman', Times, serif;
    font-size: medium;  
}
 h1 {
     font-family: Verdana, 'Times New Roman', Times, serif;
     font-size: x-large;
     text-align: center;
}
.bear {
    display: flex;
}
