body
{
    margin: 0;
    height: 100%;
}
ul {
    list-style-type : none;
    font-family: Verdana, 'Times New Roman', Times, serif;
    font-size: medium;
    display: flex;
    justify-content: space-around;
    margin-right: 140px;
}
li:hover {
    text-decoration: underline;
}
h1 {
    font-family: Verdana, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    font-weight: bold;
}
h2 {
    justify-content: center;
}
.bear {
    margin-left: 30px;
    margin-top: 30px;
}
.header {
    background-color:#486575;
    height: 200px;
    width: 100%;  
}
#navbar {
    background-color: #F2E1C9;
}
a {
    text-decoration: none;
    color: black;
}
.categorie {
    border-top : black 1px solid; 
    border-bottom : black 1px solid; 
    padding-top: 15px;   
}
.produits {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
}
article {
    text-align: center;
}
img {
    box-shadow: grey 10px 10px 20px;
    margin-bottom: 20px;
}
.produits h2 {
    margin-bottom: 20px;
    width: auto;
    display: flex;
    font-size: 35px;
}
p {
    font-weight: bold;
}
.footer {
    background-color: #486575;
    padding-bottom: 20px;
}
.footer h2 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.footer a {
    display: flex;
    justify-content: space-around;
}
footer a:hover { 
    text-decoration: underline !important;
}
#formulaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: #A7B6BA;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
}
.teddy {
    width: 400px;
    height: 400px;
}
#norbert {
    text-align: center;
    margin-bottom: 30px;   
}
#arnold {
    text-align: center;
}
#lennyAndCarl {
    text-align: center;
    margin-bottom: 30px;
}
#gustav {
    text-align: center; 
}
#garfunkel {
    text-align: center;
} 
.row {
    justify-content: center;
}
a {
    text-decoration: none !important;
    color: black !important;
}
.btn:hover {
    font-weight: bold;
}  


/******************************/
/***********PRODUIT************/
/******************************/

.row, #teddie {
    display: flex;
    margin: auto;
}



/******************************/
/***********PANIER*************/
/******************************/

.commande {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 40%
}
label {
    display: block;
}
.form {
    height: 40px;
    font-size: 20px;
}
#name {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#name .form {
    margin-top: 10px;
}
#mail {
    margin-top: 30px;
}
#mail .form {
    width: 350px;
    margin-top: 10px;
}
#phone .form {
    margin-top: 10px;
    width: 350px;
}
#phone {
    margin-top: 30px;
}
#adresse .form {
    width: 100%;
    display: flex;
    margin-top: 10px;
}
#adresse {
    margin-top: 30px;
}
#ville {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
#ville .form {
    margin-top: 10px;
}
#com {
    margin-top: 10px;
    width: 100%;
    height: 200px;  
}
.commentaire {
    margin-top: 30px;
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    .card-body {
        display: inline;
        align-self: center;
    }
    
    ul {
       justify-content: space-between;
       margin-right: 50px;
    }
    .produits h2 {
        font-size: 20px;
    }
}
@media (max-width: 575.98px) { 
    body {
        width: 100%;
    }
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    .card-body {
        display: inline;
        align-self: center;
    }
    ul {
        margin: 0px;
        display: block;
        margin-bottom: 15px;
    }
    .card {
        margin-bottom: 30px;
    }
    li {
        margin-bottom: 10px;
    }
}




/*Small devices (landscape phones, 576px and up)
@media (min-width: 320px) and (max-width: 767.98px) {}


Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/
 